.loader-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    z-index: 1;
}

.loader{
    width: 12%;
    aspect-ratio: 1;
    border: 20px solid rgba(241, 239, 239, 0.767);
    border-top: 20px solid rgb(10, 39, 66);
    border-radius: 50%;
    transition: width .2s ease-out;
    animation: spinner .5s linear infinite;
}

@keyframes spinner{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}